.form {
  width: 100%;
  display: flex;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid #ccc;
  min-width: 250px;
}
.input {
  flex: 1;
  padding: 0.3em 0.7em;
  outline: 0;
  border: 0;
  font-size: 1.3em;
  min-width: 180px;
}

.button {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 1.3em;
  width: 70px;
  border-left: 1px solid #ccc;
  transition: background-color 0.3s ease-in;
}

.button:hover {
  background-color: #e9e9e9;
}
